.container .one{
    font-weight: bold;
    font-family: "Lemon", serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(115, 115, 115);
  }
  .container h2{
    
    font-family:Arial, Helvetica, sans-serif;
    color: #03c5d7e0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .collapse a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
 

  