.container .one{
    font-weight: bold;
    font-family: "Poller One", sans-serif;
    color: rgb(33, 33, 33);
    gap: 5;
     text-shadow: 1px 1px 1px rgb(115, 115, 115);
  }
  .container h2{
    
    
    color: #03c5d7e0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .collapse a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
 .my-card img{
  transition: transform 1s;
 }

 .my-card img:hover{
  transform: scale(1.05);
 }
 
  .main-card img{
  transition: transform 1s;
 }

 .main-card img:hover{
  transform: scale(1.1);
 }
 .main-card{
  overflow: hidden;
 }

  .author img{
  transition: transform 1.5s;
 }

 .author img:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 2px 1px rgba(26, 26, 26, 0.707);
 }
 

 .banner-cap
  {
    font-family: "Poller One", sans-serif;
    
    text-shadow: 2px 3px 4px rgb(206, 206, 208);
    
  }
  .fa-brands{
  transition: transform 0.5s;
}
.fa-brands:hover{
   transform: scale(1.2);
   color: black;
}

  